.box {
  flex: 0 1 auto;
  margin-bottom: 20px;
  margin-right: 20px;
}

.cardFeed {
  text-align: left;
  margin-top: 10%;
  font-family: Futura PT;
  width: 350px;
  height: 200px;
  background: #ecf0ef;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.cardCalendar{
  text-align: left;
  margin-top: 5%;
  font-family: Futura PT;
  width: 220px;
  height: 200px;
  background: #ecf0ef;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.headerFeed {
  background: #3aaf9f;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding: 10px 15px;
}

.headerCalendar {
  background: #3aaf9f;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding: 10px 15px;
  width: 220px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  font-size: 18px;
  color: #444444;
  padding-left: 15px;
  text-align: left;
  justify-content: left;
}

.done {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #3aaf9f;
  user-select: none;
  cursor: pointer;
}

.strings {
  margin: 15px 0px;
}
.info {
  min-height: 163px;
}

.edit {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #3aaf9f;
  user-select: none;
  cursor: pointer;
}

.input {
  background: #ffffff;
  border: 1px solid #444444;
  box-sizing: border-box;
  padding-left: 5px;
  margin-left: 2px;
  height: 80px;
}

@media screen and (max-width: 1000px) {
  .cardFeed {
    margin-top: 5%;
    width: 280px;
    height: 200px;
  }
  .headerFeed {
    width: 280px;
  }
}
