.page{
  display: flex;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.content{
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  width: 70vw;
}

.tab{
  height: 75px;
  background: #ECF0EF;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-flow: row wrap;
}

.block{
  cursor: pointer;
  fill:#AAAAAA;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 235px;
  font-family: Futura PT;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #AAAAAA;
}

.activeBlock{
  cursor: pointer;
  fill:#3AAF9F;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 235px;
  color: #3AAF9F;
  background: #E5E5E5;
  font-family: Futura PT;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}

.date{
  user-select: none;
  color: #3AAF9F;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 260px;
  margin-left: auto;
}

@media screen and (max-width: 1200px){
  .page{
    height: 100vh;
    flex-direction: column;
  }
  .content{
    width: 100vw;
    margin: 0px 0px;
  }
  .block{
    width: 50%;
  }
  .activeBlock{
    width: 50%;
  }
  .date{
    display: none;
  }
  .icon{
    display: none;
  }
  .cards{
    align-items: center;
    display: flex;
    justify-content: center;
  }
}