

.download {
  background: rgba(236, 240, 239, 0.9);
  width: 270px;
  height: 270px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.downloadIcon {
  margin-top: 90px;
  width: 100px;
  height: 100px;
}

.descr {
  font-family: Futura PT;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  margin-top: 15px;
}
