@import 'src/assets/bindings';

.avatar {
  margin-right: 20px;
}

.page {
  margin-left: 3%;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}
.changeUser {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 51px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
  font-family: Futura PT;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: #3aaf9f;
  background: #ecf0ef;
  margin-top: 5%;
}

.icon {
  margin-right: 10px;
  fill: #3aaf9f;
}

.link {
  color: #3aaf9f;
  text-decoration: none;
}

.about {
  font-family: Futura PT;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  width: 280px;
  background: #ecf0ef;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.infoItem {
  margin: 13px 0px;
}

.achieve {
  display: flex;
  margin: 5px 0px;
}

.achImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: -15px;
}

.header {
  background: #3aaf9f;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding: 10px 15px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.headerAdd {
  background: #3aaf9f;
  width: 290px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding: 10px 15px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  font-size: 18px;
  color: #444444;
  padding-left: 20px;
  text-align: left;
  justify-content: left;
  background-color: #ecf0ef;
}

.edit {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #3aaf9f;
  user-select: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.input {
  background: #ffffff;
  border: 1px solid #444444;
  box-sizing: border-box;
  width: 150px;
  height: 23px;
  padding-left: 5px;
  margin-left: 2px;
}

.middle {
  display: flex;
  flex-direction: column;
}

.none {
  display: none;
}

@media screen and (max-width: 1200px) {
  .page {
    flex-direction: column-reverse;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }
}
@media screen and (max-width: 600px) {
  .changeUser{
    margin-bottom: 5%;
  }
}
