.taskProfile {
  margin-top: 15px;
  display: flex;
  font-style: normal;
  font-size: 18px;
  background-color: #ecf0ef;
  color: black;
  padding: 10px 20px;
  text-align: left;
  justify-content: space-between;
  width: 240px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
}

.taskProfile:hover{
  background: #E5E5E5;
}
.taskCalendar {
  margin-bottom: 15px;
  display: flex;
  font-style: normal;
  font-size: 18px;
  background-color: #ecf0ef;
  color: black;
  padding: 10px 20px;
  text-align: left;
  justify-content: space-between;
  width: 200px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
  cursor:pointer
}
.taskActive {
  margin-bottom: 15px;
  display: flex;
  font-style: normal;
  font-size: 18px;
  background: #3AAF9F;
  color: white;
  padding: 10px 20px;
  text-align: left;
  justify-content: space-between;
  width: 200px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
  cursor:pointer
}

.taskCalendar:hover{
  background: #3AAF9F;
  color: white;
}

.taskDelete {
  display: none;
}

.closeProfileActive {
   stroke: red;
   stroke-width: 1.5;
   width: 12px;
   height: 12px;
   margin-top: 7px;
   cursor:pointer;
 }
.closeCalendarActive {
  stroke: white;
  stroke-width: 1.5;
  width: 12px;
  height: 12px;
  margin-top: 7px;
  cursor:pointer;
}

.close {
  display: none;
  width: 12px;
  height: 12px;
  margin-top: 7px;
}

.editable {
  all: unset;
}

@media screen and (max-width: 1200px) {
  .taskProfile{
    margin-top: 0px;
  }
  .taskCalendar{
    margin-top: 0px;
  }
}