@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700');

* {
  box-sizing: border-box;
}
body {
  font-family: Futura PT;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  position: relative;
}
header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid lightgray;
  background: #ECF0EF;
}
.icon{
  cursor:pointer;
}
.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.row-middle {
  align-items: center;
}
.column {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.calendar {
  display: block;
  position: relative;
  width: 400px;
  background: #ECF0EF;
  margin-left: 3%;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
}
.calendar .header {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  padding: 1.5em 0;
}
.calendar .days {
  margin-left: 5px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #AAAAAA;
  padding: 0.75em 0;
}
.calendar .body{
  margin-left: 20px;
}
.calendar .body .cell {
  position: relative;
  height: 2em;
  cursor: pointer;
  background: #ECF0EF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar .body .selected {
  color: #ffffff;
  background-color: #3AAF9F;
}
.calendar .body .today {
  color: #ffffff;
  background-color: #AAAAAA;
}
.calendar .body .thereIsTasks {
  color: #ffffff;
  background-color: #E64040;
}

.calendar .body .cell .number {
  position: absolute;
}

.calendar .body .disabled {
  color: #ECF0EF;
  pointer-events: none;
  cursor: default;
}

.calendar .body .cell .bg {
  padding: 5px;
}

.card {
  border-radius: 5px;
  width: 30px;
  justify-content: center;
  height: 30px;
  display: flex;
}

.square {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 2px;
}

.calendar .body .column {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}
.marks{
  margin-top: 20px;
}
.mark{
  margin-right: 3%;
}

.page{
  display: flex;
}

@media screen and (max-width: 1200px){
  .page{
    margin-top: 2%;
  }
  .calendar{
    margin-left: 0%;
  }
}
@media screen and (max-width: 1200px) {
  .page {
    flex-direction: column;
    align-items: center;
  }
  .info{
    margin-top: 3%;
  }
}
@media screen and (max-width: 600px){

  .calendar{
    width: 300px;
  }
  .info{
    width: 300px;
  }
  .mark{
    font-size: 12px;
  }
}
@media screen and (max-width: 400px){
  .calendar{
    width: 250px;
  }
  .info{
    width: 250px;
  }
}
