
.day{
  padding: 2px;
  margin-right: 2px;
  cursor: pointer;
  width: 27px;
  height: 29px;
  font-size: 15px;
  line-height: 23px;
  color: black;
  border: 1px solid #444444;
  border-radius: 5px;
}

.dayActive{
  padding: 2px;
  margin-right: 2px;
  cursor: pointer;
  width: 27px;
  height: 29px;
  font-size: 15px;
  line-height: 23px;
  color: white;
  background: #3AAF9F;
  border: 1px solid #444444;
  border-radius: 5px;
}


@media screen and (max-width: 1200px) {
  .day{
    font-size: 12px;
    width: 23px;
  }
  .dayActive{
    font-size: 12px;
    width: 23px;
  }
}