.modal {
  z-index: 3;
  padding-top: 70px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.header {
  margin: auto;
  position: relative;
  outline: 0;
  background: #3aaf9f;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding: 10px 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.content {
  margin: auto;
  position: relative;
  outline: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-size: 18px;
  color: #444444;
  padding-left: 20px;
  text-align: left;
  justify-content: left;
  background-color: #ecf0ef;
  width: 400px;
}

.closeModal {
  stroke: white;
  stroke-width: 1.5;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media screen and (max-width: 500px){
  .header{
    width: 280px;
  }
  .content{
    width: 280px;
  }
}
