.add {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  background: #3aaf9f;
  border-radius: 25px;
  color: white;
  width: 200px;
  height: 45px;
  margin-top: 45px;
  cursor: pointer;
}

.add:active {
  background: #007363;
}

.inputModal {
  background: #ffffff;
  border: 1px solid #444444;
  box-sizing: border-box;
  width: 150px;
  height: 30px;
  padding-left: 5px;
  margin-left: 5px;
}
.naming{
  margin-right: 10px;
}
.name {
  display: flex;
  padding-top: 20px;
}

.dur{
    display: flex;
    padding-top: 20px;
}

.duration{
  margin-left: 10px;
  cursor: pointer;
  width: 70px;
  height: 29px;
  font-size: 14px;
  line-height: 23px;
  color: black;
  border: 1px solid #444444;
  border-radius: 5px;
}
.durationActive{
  margin-left: 10px;
  cursor: pointer;
  width: 70px;
  height: 29px;
  font-size: 14px;
  line-height: 23px;
  color: white;
  background: #3AAF9F;
  border: 1px solid #444444;
  border-radius: 5px;
}


@media screen and (max-width: 1200px) {
  .add{
    margin: 2% 0%;
  }
  .dur{
    flex-direction: column;
  }
  .duration{
    margin-top: 5px;
  }
  .durationActive{
    margin-top: 5px;
  }
}

.save {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #3aaf9f;
  user-select: none;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
}

.save:hover {
  color: #007363;
}
