.root {
  text-align: center;
  display: flex;
}
.calendarContainer {
  display: flex;
  justify-content: center;
}

.tasks{
  margin-top: 3%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.info{
  margin-left: 3%;
  background: #ECF0EF;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
}

.cards{
  margin-left: 3%;
  display: flex;
}

.now{
  margin-top: 50px;
  margin-left: 80px;
  font-size: 22px;
  line-height: 28px;
  color: #444444;
  text-align: left;
}

.right{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1200px) {
  .calendarContainer {
    flex-direction: column;
    align-items: center;
  }
  .info {
    margin-top: 3%;
    text-align: center;
  }
  .tasks{
    margin-left: 0%;
  }
  .right{
    flex-direction: column;
  }
  .now{
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .info {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .info {
    width: 250px;
  }
}
