@import 'src/assets/bindings';

.header {
  width: 100%;
  height: 80px;
  background-color: lightgreen;
  color: white;
  display: flex;
  justify-content: flex-start;
  border: green solid 2px;
}

.title {
  padding: 20px;
  font-weight: 400;
  font-size: 32px;
}
