@import 'src/assets/bindings';

.mainPage {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.iTracker {
  width: 39%;
  background-color: #3aaf9f;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 200px;
  height: 196px;
}

.tracker {
  width: 150px;
  height: 50px;
}

.description {
  font-family: Futura PT, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: white;
  margin: 2% 1%;
}

.auth {
  width: 61%;
  background-color: #ecf0ef;
  display: flex;
  flex-direction: column;
}

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
  margin-top: 2.5%;
  margin-right: 1%;
}

@media screen and (max-width: 1000px){
  .mainPage{
    flex-direction: column;
  }
  .iTracker{
    width: 100%;
  }
  .auth{
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  .description{
    margin: 4% 2%;
  }
  .toggle{
    margin-top: 5%;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    display: none;
  }
  .iTracker{
    height: 40vh;
  }
  .tracker{
    margin-top: 5%;
  }
  .auth{
    height: 100vh;
  }
  .toggle{
    margin-top: 8%;
    margin-right: 13%;
  }
}