@import 'src/assets/bindings';

.mainPage {
  display: flex;
  flex-direction: row;
}

.navigation {
  margin-top: 5px;
  min-width: 250px;
  min-height: 100vh;
  background-color: #ECF0EF;
  display: flex;
  flex-direction: column;
}

.logoBlock {
  width: 100%;
  height: 70px;
  background: #ecf0ef;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.15);
}

.logo {
  margin-top: 15px;
}

.menuBlock {
  width: 100%;
  height: 70px;
  background: #ECF0EF;;
  font-family: Futura PT;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.icon {
  margin-right: 15px;
  margin-left: 22px;
}

.link {
  fill: black;
  text-decoration: none;
  color: black;
}

.selected {
  fill: white;
  color: white;
  background-color: #3aaf9f;
  min-width: 280px;
  height: 70px;
  display: flex;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
}

.selected::before{
  left: 0px;
  display: block;
  width:2px;
  border-left: 3px solid white;
  height: 54px;
  content: '';
}

@media screen and (max-width: 1200px){
  .navigation{
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100vw;
    margin-top: 0px;
    min-height: 0px;
  }
  .menuBlock{
    padding-right: 0%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 33vw;
  }
  .selected{
    padding-right: 0%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 33vw;
  }
  .logoBlock{
    display: none;
  }
  .selected::before{
    display: none;
  }
  .mainPage{
    width: 100vw;
  }
}
@media screen and (max-width: 600px) {
  .menuName{
    display: none;
  }
  .menuBlock {
    padding-right: 0%;
  }
  .selected{
    padding-right: 0%;
    min-width: 0;
  }
}
