@import 'src/assets/bindings';

.App {
  text-align: center;
}
.appContainer {
  display: flex;
}

.menuContainer {
  display: flex;
  width: $s-2;

  & .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

a {
  margin-top: 20px;
  text-decoration: none;
}
